<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824154892964-lhsbhk1i3e0nd5p3l3amc14du2mbsu96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824154892964-lhsbhk1i3e0nd5p3l3amc14du2mbsu96</string>
	<key>API_KEY</key>
	<string>AIzaSyDW5Oy-CEUYNhBfvgW6P79GLVTN8Gn1aTY</string>
	<key>GCM_SENDER_ID</key>
	<string>824154892964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatDemo1</string>
	<key>PROJECT_ID</key>
	<string>chatdemo1-fb668</string>
	<key>STORAGE_BUCKET</key>
	<string>chatdemo1-fb668.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824154892964:ios:4b022020db1bd0b24d5431</string>
</dict>
</plist>